.game-maker {
    font-family: National2CompressedWeb,"Helvetica Condensed","Arial Narrow",sans-serif;
    letter-spacing: .05rem;
    background: #326826;
}

.game-maker p {
    margin: 0;
}

.img-fit {
    object-fit: contain;
}